os: linux
language: go

branches:
  only:
    - master
#    - develop

go:
  - "1.24.x"

install:
  - go get -u golang.org/x/lint/golint

script: make travis

after_success:
  - bash <(curl -s https://codecov.io/bash)
